<html lang="en"><head>
  <!-- Title -->
  <title>接口自动化测试平台</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  {% load static %}
  <link rel="shortcut icon" href="{% static "favicon.ico" %}">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/custombox/dist/custombox.min.css">
  <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/fancybox/jquery.fancybox.css">

  <!-- CSS Space Template -->
  <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/css/theme.css">
  <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>

<body>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content">
    <!-- Hero Section -->
    <div class="gradient-overlay-half-dark-v3 bg-img-hero"
         style="background-image: url(https://htmlstream.com/preview/space-v1.6.1/assets/img/1920x1080/img4.jpg);">
      <!-- Main Content -->
      <div class="d-lg-flex align-items-lg-center height-85vh--lg">
        <div class="container space-2 space-0--lg mt-lg-8">
          <div class="row justify-content-lg-between align-items-lg-center">
            <div class="col-lg-5 mb-7 mb-lg-0">
              <!-- Title -->
              <span class="d-block text-white text-uppercase mb-2">itest.info</span>
              <h1 class="display-4 font-size-48--md-down text-white mb-0">Interface automation test platform</h1>
              <!-- End Title -->
            </div>

            <div class="col-lg-5">
              <!-- Signup Form -->
              <div class="bg-white shadow-sm rounded p-6">
                <form class="js-validate" novalidate="novalidate" action="/login/" method="post">
                  <div class="mb-4">
                    <h2 class="h4">接口自动化测试平台</h2>
                  </div>

                  <!-- Input -->
                  <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group input-group form">
                      <input type="text" class="form-control form__input" name="username" required="" placeholder="请输入账号" aria-label="Enter your username">
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->
                  <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group input-group form">
                      <input type="password" class="form-control form__input" name="password" required="" placeholder="请输入密码" aria-label="Enter your password">
                    </div>
                  </div>
                  <!-- End Input -->
                    <div style="color: red">{{ error_message }}</div>
                    {% csrf_token %}
                  <button type="submit" class="btn btn-block btn-primary">登录</button>

                </form>
              </div>
              <!-- End Signup Form -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>

    <!-- Divider -->
    <div class="w-50 w-lg-35 mx-auto">
      <hr class="my-0">
    </div>
    <!-- End Divider -->

  </main>

  <!-- ========== FOOTER ========== -->
  <footer class="bg-dark">
    <div class="container space-2">
      <div class="row justify-content-md-between">



        <div class="col-lg-4 order-lg-1 d-flex align-items-start flex-column">
          <!-- Language -->
          <div class="btn-group d-block position-relative mb-4 mb-lg-auto">

            <!-- Content -->
            <div id="footerLanguage" class="u-unfold u-unfold--language bottom-0 left-0 u-unfold--css-animation u-unfold--hidden u-unfold--reverse-y" aria-labelledby="footerLanguageInvoker" style="animation-duration: 300ms; left: 0px;">
              <div class="py-6 px-5">
                <h4 class="h6 mb-4">Select your language</h4>
              </div>
            </div>
          </div>

          <p class="small text-muted">All rights reserved. ©重定向科技. 2020 itest.info</p>
        </div>
      </div>
    </div>
  </footer>

</body></html>