{% extends "home.html" %}
{% block title %}
    <title>创建项目</title>
{% endblock %}

{% block home %}
<div class="card card-border-color card-border-color-primary">
<div class="card-header card-header-divider">创建项目
    <span class="card-subtitle">This is Create Project</span>
</div>
<div class="card-body" style="margin-right: 140px ">
  <form>
    <div class="form-group row mt-2">
      <label class="col-3 col-lg-2 col-form-label text-right">项目名称</label>
      <div class="col-9 col-lg-10">
          {{ form.name }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-3 col-lg-2 col-form-label text-right">项目描述</label>
      <div class="col-9 col-lg-10">
        {{ form.describe }}
      </div>
    </div>
    <div class="form-group row pt-1 pb-1">
      <label class="col-3 col-lg-2 col-form-label text-right">状态</label>
      <div class="col-12 col-sm-8 col-lg-6 form-check mt-1">
        <label class="custom-control custom-checkbox custom-control-inline">
        <input class="custom-control-input" type="checkbox" checked="">
          {{ form.status }}
        </label>
      </div>
        <div class="col-sm-6">
        <p class="text-right">
          <button class="btn btn-space btn-secondary">关闭</button>
          <button class="btn btn-space btn-primary" type="submit">添加</button>
        </p>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}